# MQTT 配置
MQTT_HOST=yourHost
MQTT_PORT=1883
MQTT_USERNAME=test
MQTT_PASSWORD=your_password
MQTT_CLIENT_ID=swift-mqtt-client
MQTT_TOPIC=test/updates
# 订阅多个主题（用逗号分隔），如果未设置则使用 MQTT_TOPIC
MQTT_TOPICS=test/updates,sensor/dht22/+/data,note/+/home
MQTT_USE_SSL=false
MQTT_KEEP_ALIVE=60

# MariaDB 配置
DB_HOST=mariadb
DB_PORT=3306
DB_USERNAME=your_name
DB_PASSWORD=your_password
DB_DATABASE=test
