upstream flask_app {
    server ${BACKEND_HOST}:${BACKEND_PORT};
}

# 定义允许的 动态 Origin 列表
map $http_origin $cors_origin {
    default "";

    # 允许8000-9000范围内的端口
    ~^http://ahut\.site(:80)?$ $http_origin;
    ~^http://ahut\.site:(8000|8010|8020|9000)$ $http_origin;

    ~^https://ahut\.site(:443)?$ $http_origin;
    ~^https://ahut\.site:(8000|8010|8020|9000)$ $http_origin;

    ~^http://localhost:(3000|5000|3001)$ $http_origin;
}

# 动态设置缓存时间
map $http_origin $cors_max_age {
    default "0";
    ~^https?://ahut\.site(:[0-9]+)?$ "86400";
    ~^http://localhost(:[0-9]+)?$ "3600";
}

server {
    listen ${NGINX_PORT};
	listen [::]:${NGINX_PORT};
    server_name ${NGINX_HOST} www.${NGINX_HOST} localhost default_server;

    # 安全头片段
    # include /etc/nginx/snippets/security.conf;

    root ${WEB_ROOT};

    # 指定索引文件顺序
    index index.html index.htm;

    location / {
        # CORS 配置
        include /etc/nginx/snippets/cors_headers.conf;

        try_files $uri $uri/ =404;
    }

    error_page 404 /404.html;

    location = /404.html {
        internal;
    }

    location /vault/ {
        proxy_pass http://flask_app;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
    }

    location /api/ {
        proxy_pass http://flask_app;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header Origin $http_origin;

        # 超时设置
        proxy_connect_timeout 120s;
        proxy_send_timeout 120s;
        proxy_read_timeout 120s;
    }

    location ^~ /.well-known/ {
        # 使用默认的root 即/usr/share/nginx/www/.well-known/;
    }

	location = /.well-known/pki-validation/ {
		# 使用默认的root  即/var/www/.well-known/pki-validation;
	}

    # 健康检查
    location /health {
        access_log off;
        add_header Content-Type text/plain;
        return 200 "healthy\n";
    }
}