#图片服务器服务
server {
    listen ${NGINX_VAULT_IMAGE_PORT} ssl;
    listen [::]:${NGINX_VAULT_IMAGE_PORT} ssl;
    server_name ${NGINX_HOST} www.${NGINX_HOST} localhost;

    # 证书路径（由脚本生成或挂载）
    ssl_certificate     /etc/nginx/certs/server.pem;
    ssl_certificate_key /etc/nginx/certs/server.key;

    # TLS 基础设置
    ssl_session_timeout 1h;                 #缓存有效期
    ssl_session_cache   shared:SSL:10m;
    ssl_protocols       TLSv1.2 TLSv1.3;    #安全链接可选的加密协议
    ssl_ciphers         HIGH:!aNULL:!MD5;   #加密算法
    ssl_prefer_server_ciphers on;           #优先使用服务器端的加密算法

    client_max_body_size 16M;  # 最大上传文件大小

    root ${WEB_ROOT};

    # 静态文件直接由 Nginx 提供
    location /image/ {
        # CORS 配置
        include /etc/nginx/snippets/cors_headers.conf;

        alias /usr/share/nginx/shared_data/uploads/image/;  # 修改为实际路径
        expires 30d;
        add_header Cache-Control "public, immutable";
        add_header Access-Control-Allow-Origin *;
        try_files $uri @api;
    }

    # 默认所有请求返回 "Image Service"
    location / {
        # CORS 配置
        include /etc/nginx/snippets/cors_headers.conf;

        default_type text/plain;
        add_header Content-Type text/plain;
        return 200 "Image Service";
        access_log off;  # 可选：关闭访问日志
    }

    # 兜底转发到应用服务器
    location @api {
        # CORS 配置
        include /etc/nginx/snippets/cors_headers.conf;
        
        proxy_pass http://flask_app;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header Origin $http_origin;
    }

    # 禁止访问隐藏文件
    location ~ /\. {
        deny all;
        return 404;
    }

    # 重定向 /images 到 /images/
    location = /images {
        return 301 /image/;
    }

    # 健康检查
    location /health {
        access_log off;
        add_header Content-Type text/plain;
        return 200 "healthy\n";
    }
}