# misc system
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store
*/.DS_Store


# ==== 环境和IDE ====
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
conda_env/
pytorch_python11/

# Spyder project settings
.spyderproject
.spyproject

# MariaDB 数据目录
data/
data/*

# 临时文件和日志
*.tmp
*.log